* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(97, 156, 245);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.box-header {
    padding-bottom: 10px;
    text-align: center;
}

.box-header__title {

}

.box-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.box-content--stretch {
    gap: 10px;
}

.slider {

}

.slider__input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 17px;
    border-radius: 5px;
    background-color: rgb(158, 158, 158);
    outline: none;
    opacity: .8;
}

.slider__input:hover {
    opacity: 1;
}

.slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
}

.slider__input::-moz-range-thumb {
    width: 23px;
    height: 23px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.slider__input--red {
    background-image: linear-gradient(to right, rgb(0,0,0),rgb(255,0,0));
}

.slider__input--green {
    background-image: linear-gradient(to right, rgb(0,0,0), rgb(0,255,0));
}

.slider__input--blue {
    background-image: linear-gradient(to right, rgb(0,0,0), rgb(0,0,255));
}

.form__group {

}

.form-fieldset {
    padding: 2px 5px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
}

.form-fieldset__legend {
    padding: 2px;
    background-color: transparent; 
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.form-fieldset__input {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: .9rem;
}

.form-fieldset__input:focus {
    outline: none;
}